---
layout: page
keywords:
- Charisse
- Basquin
- imprints
- perinatal
- bonding
- attachment
- birth
- process
title: Early Imprints Bonding and Attachment
permalink: /
---

<!-- Slider Start -->
<section id="slider">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-2">
        <div class="block">
          <h1 class="animated fadeInUp">Early Imprints</h1>
          <p class="animated fadeInUp">Bonding and attachment, private sessions, birth process workshops and training for professionals on pre- and perinatal therapy</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Wrapper Start -->
<section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-12">
        <div class="block">
          <div class="section-title">
            <h2>About Charisse</h2>
          </div>
            <p>Charisse received her Doctorate of Chiropractic in 1986 and attended her first birth the following year. She combines various therapies to release trauma held in the body/mind. In 2000 she became a midwifery assistant in Alaska. In 2014 she began working with ex-offenders through the Glasgow police. Charisse received a Master’s of Science in Psychological Trauma and in 2022 completed research on birth trauma and causes of fear of childbirth. Currently Charisse facilitates workshops and gives presentations internationally and has a private practice in Anstruther, Scotland where she works with all ages. Charisse is a Certified Castellino Workshop Facilitator, Castellino approved Family Practice Clinical Supervisor and Supervisor for facilitators of birth process workshops (aka “womb surrounds”). Charisse has assisted and co-taught with Ray Castellino and co-facilitated a professional training in Pre and Perinatal Psychology with Mary Jackson.</p>
        </div>
      </div><!-- .col-md-7 close -->
      <div class="col-md-4 col-sm-12">
        <div class="block">
          <img src="img/cyb2016-600.jpg" alt="Charisse">
        </div>
      </div><!-- .col-md-5 close -->
    </div>
  </div>
</section>

<section id="feature">
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-6">
      <h2>Description of types of therapy</h2>
		  <p>More details about each topic can be found on other pages of this web site.
	  <h3>Individual sessions</h3>
		  <p>To address early life imprints, Charisse works one to one or with families.  She supports families welcoming and bonding with incoming and newly born babies.  Whilst working with babies and children she creates an environment that supports children and babies to show their story with toys or by being aware of baby’s movements, cries and reactions to the stories being told by their mothers, fathers and sometimes siblings.  Whilst working with adults who wish to address their own early life experiences or trauma that is held in the body, Charisse combines listening to one’s history and paying attention to the body’s unconscious movements which hold the early, pre-verbal memories.</p>
	  
      <h3>Process workshops</h3>
		<p>Using a sensitive process that taps into the body-held memories of your early life, it is possible to access <em>and alter</em> patterns that inhibit full self-expression or cause you difficulties today. These workshops help you to create new imprints.  Each workshop has 4-6 participants; the group structure offers the opportunity for exploration beyond what may be possible within the context of one-to-one work.</p> 

      <h3>Pre- and perinatal training</h3>
		<p>A training for professionals who work with people of all ages.  This includes medical professionals, body workers, psychotherapists, spiritual leaders, teachers, etc.  Anyone who wishes to work with individuals and groups to enhance relational and cooperative life experiences.</p>
		
	<h3>Supervision Groups</h3>				
	<p>Online group supervision for pre and perinatal therapists who have completed a Castellino Foundation training or equivalent. 
	<p>Four participants are welcome and run fortnightly as needed.
	<h3>Individual Supervision</h3>
	<p>Online or in-person supervision for practitioners working with individuals or families and for facilitators of Castellino model “womb surrounds” is available. <em>Supervision with Charisse can be applied to fulfil the requirements to graduate from Castellino Foundation Training.</em>
</section>		

    </div>
  </div>
</div>
</section>


<!--
<!-- Service Start 
<section id="service">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <h2>Our Services</h2>
        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics</p>
      </div>
    </div>
    <div class="row ">
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="icon ion-coffee"></i>
          <h4>Branding</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-compass"></i>
          <h4>Web Design</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-image"></i>
          <h4>App Design</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-bug"></i>
          <h4>Start Up</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-headphone"></i>
          <h4>Logo Design</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-leaf"></i>
          <h4>Development</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-planet"></i>
          <h4>Brand Identity</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-earth"></i>
          <h4>Brand Identity</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Call to action Start 
<section id="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h2>We design delightful digital experiences.</h2>
          <p>Read more about what we do and our philosophy of design. Judge for yourself The work and results we’ve achieved for other clients, and meet our highly experienced Team who just love to design.</p>
          <a class="btn btn-default btn-call-to-action" href="#" >Tell Us Your Story</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Content Start 
<section id="testimonial">
  <div class="container">
    <div class="row">
      <div class="section-title text-center">
        <h2>Fun Facts About Us</h2>
        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        {% if site.data.funfacts.size > 0 %}
        <div class="block">
          {% for ff in site.data.funfacts %}
          <ul class="counter-box clearfix">
            <li>
              <div class="block">
                <i class="{{ ff.icon }}"></i>
                <h4 class="counter">{{ ff.counter }}</h4>
                <span>{{ ff.text }}</span>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
      </div>
      <div class="col-md-6">
        {% if site.data.testimonials.size > 0 %}
        <div class="testimonial-carousel">
          <div id="testimonial-slider" class="owl-carousel">
            {% for tm in site.data.testimonials %}
            <div>
                <img src="img/cotation.png" alt="IMG">
                <p>{{ tm.testimonial }}</p>
                <div class="user">
                  <img src="{{ tm.image }}" alt="Pepole">
                  <p><span>{{ tm.name }}</span> {{ tm.title }}</p>
                </div>
            </div>
            {% endfor %}
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>
