---
layout: page
title: Pre and Perinatal Training
permalink: /training/
---

<!-- Slider Start -->
<section id="slider">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-2">
        <div class="block">
          <h1 class="animated fadeInUp">Pre and Perinatal Training</h1>
          <h1 class="animated fadeInUp">with Charisse Basquin and Mary Jackson</h1>
          <p class="animated fadeInUp">Learn the latest in Pre and Perinatal Therapy. Through experiential work you will explore your own developmental history and early imprints. Discover how to attune to babies and clients' early life material to enhance therapeutic outcomes.</p>
		  <p>For:
		  <ul> 
		  <li class="animated fadeInUp">Anyone working with babies, children and families.
		  <li class="animated fadeInUp">Therapists and professionals working with adults interested in early trauma and birth.
		  </ul>
      </div>
    </div>
  </div>
</section>
<!-- Wrapper Start -->
<section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <div class="block">
          <div class="section-title">
            <h1>Pre and Perinatal Training</h1>
          </div>
          <p>This training prepares participants to help their clients with pre-verbal imprinting. We will teach how to support clients in developing the skills to self regulate and differentiate past trauma from present-time triggers. In this way they can make their implicit memories explicit transforming chronic patterns into healthier behaviors. 
			<p>Learning is facilitated through experiential exercises where the theory is integrated and put to work in a group setting designed to produce a safe and often fun space. 
			<p>Lectures provide a sound framework of understanding, and footage of family sessions show examples of how to apply the material in your practice.</p>
         </div>
      </div><!-- .col-md-6 close -->
    <div class="col-md-6">
        {% if site.data.testimonials.size > 0 %}
        <div class="testimonial-carousel">
          <div id="testimonial-slider" class="owl-carousel">
            {% for tm in site.data.testimonials %}
            <div>
                <img src="/img/cotation.png" alt="IMG">
                <p>{{ tm.testimonial }}</p>
                <div class="user">
                  <img src="{{ tm.image }}" alt="Pepole">
                  <p><span>{{ tm.name }}</span> {{ tm.title }}</p>
                </div>
            </div>
            {% endfor %}
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>

<section id="feature">
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2>Training Objectives</h2>
	  We will develop the following knowledge and skills:
		<ul>
			<li>Understand the pre and perinatal model and explore our own early history from conception through birth and early childhood.
			<li>Develop foundational skills for pre and perinatal work.
			<ul>
				<li>Grounding, tracking autonomic cycling, modulating internal tempo to deepen attunement and distinguish between past trauma and the present situation.
				<li>Supporting trainees to perceive personal boundaries of a newborn and the boundaries of adult clients whilst in a regressed state.
			</ul>
		</ul>
    </div>
    <div class="col-md-6">
		<ul>
			<li>Explore how early imprinting can affect the way we are in relationship with self and others.
			<ul>
				<li>Our own birth dynamics, vaginal birth, birth stages, birth movement patterns, cutting of the cord, breast feeding and supporting newborn secure attachment.
				<li>Supporting babies to securely attach when bonding was interfered with.
				<li>Understanding how babies express/show the stories of their own in utero, birth, and early life experiences.
				<li>Understand and explore the impacts of interventions such as chemical imprinting, forceps, vacuum extractor and Cesarean section.
				<li>Additional birth situations.
				<ul>
					<li>Twin dynamics, double binds, breech births
					<li>Miscarriage and unresolved grief
					<li>Adoption
					<li>Assisted reproductive technology
					<li>ICU-intensive care for the newborn
				</ul>
			</ul>
			<li>Create a plan to implement the new skills in your own practice.
		</ul>
    </div>
  </div>
</div>
</section>
<!--
<!-- Service Start 
<section id="service">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <h2>Our Services</h2>
        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics</p>
      </div>
    </div>
    <div class="row ">
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="icon ion-coffee"></i>
          <h4>Branding</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-compass"></i>
          <h4>Web Design</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-image"></i>
          <h4>App Design</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-bug"></i>
          <h4>Start Up</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-headphone"></i>
          <h4>Logo Design</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-leaf"></i>
          <h4>Development</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-planet"></i>
          <h4>Brand Identity</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-earth"></i>
          <h4>Brand Identity</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Call to action Start -->
<section id="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h2>This does nothing at the moment.</h2>
          <p>Read more about what we do and our philosophy of design. Judge for yourself The work and results we’ve achieved for other clients, and meet our highly experienced Team who just love to design.</p>
          <a class="btn btn-default btn-call-to-action" href="#" >Tell Us Your Story</a>
        </div>
      </div>
    </div>
  </div>
</section>
-->
<!-- Content Start -->
<section id="testimonial">
  <div class="container">
    <div class="row">
      <div class="section-title text-center">
        <h2>Fun Facts About Us</h2>
        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        {% if site.data.funfacts.size > 0 %}
        <div class="block">
          {% for ff in site.data.funfacts %}
          <ul class="counter-box clearfix">
            <li>
              <div class="block">
                <i class="{{ ff.icon }}"></i>
                <h4 class="counter">{{ ff.counter }}</h4>
                <span>{{ ff.text }}</span>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
      </div>
  
    </div>
  </div>
</section>
