---
layout: page
keywords:
- Charisse
- Basquin
- imprints
- perinatal
- bonding
- attachment
- birth
- process
- training
title: Training in Pre and Perinatal Therapy
permalink: /training/
---

<!-- Slider Start -->
<section id="slider">
  <div class="container">
    <div class="row">
      <div class="col-md-11 col-md-offset-1">
        <div class="block">
          <h1 class="animated fadeInUp">Training in Pre and Perinatal Therapy</h1>
          <h2 class="animated fadeInUp">Charisse Basquin and Mary Jackson</h2>
          <p class="animated fadeInUp">Learn and remember how little ones perceive through experiential exercises.  You will explore your own developmental history and early imprints.  Discover how to attune to babies and clients’ early life material to enhance therapeutic outcomes for adults and enhance bonding and attachment during the pre and perinatal period.</p>
		  <p class="animated fadeInUp">For:</p>
		  <ul> 
		  <li class="animated fadeInUp">Anyone working with babies, children and families.
		  <li class="animated fadeInUp">Therapists and professionals working with adults interested in early trauma and birth.
		  </ul>
		  <h1 class="animated fadeInUp">Advanced Module on Pre and Perinatal Therapy</h1>
          <h2 class="animated fadeInUp">Charisse Basquin and Mary Jackson</h2>
          <h2 class="animated fadeInUp">10-13 September 2020, Anstruther</h2>
		  <p class="animated fadeInUp">For:  Those who have completed a full training in Pre and Perinatal Therapy/Psychology and would like to further embody the skills and theory of being with clients working with their own pre-verbal imprints.
		  <p class="animated fadeInUp">To express interest and for further details:  Contact Charisse, see Contact page.
      </div>
    </div>
  </div>
</section>
<!-- Wrapper Start -->
<section id="testimonial">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <div class="block">
          <div class="section-title">
            <h1>Training in Pre and Perinatal Therapy</h1>
          </div>
          <p>This training prepares participants to support clients with pre-verbal imprinting. We will teach how to support clients in developing the skills to self regulate and differentiate past trauma from present-time triggers. In this way, implicit memories hidden in the right brain become explicit helping to transform chronic patterns into healthier behaviours. 
			<p>Learning is facilitated through experiential exercises which allows theory to be integrated. The group setting is designed to produce a safe and often fun space. 
			<p>Lectures provide a sound framework of understanding, and footage of family sessions show examples of how to apply the material in your practice.
         </div>
      </div><!-- .col-md-6 close -->
    <div class="col-md-6">
        {% if site.data.testimonials.size > 0 %}
        <div class="testimonial-carousel">
          <div id="testimonial-slider" class="owl-carousel">
            {% for tm in site.data.testimonials %}
            <div>
                <img src="/img/cotation.png" alt="IMG">
                <p>{{ tm.testimonial }}</p>
                <div class="user">
<!--                  <img src="{{ tm.image }}" alt="Pepole">   -->
                  <p><span>{{ tm.name }}</span> {{ tm.title }}</p>
                </div>
            </div>
            {% endfor %}
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>

<section id="feature">
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2>Training Objectives</h2>
	  <p>To develop the following knowledge and skills:
		<ul>
			<li>Understand the pre and perinatal model and explore our own early history from conception through birth and early childhood.
			<li>Develop foundational skills for pre and perinatal work.
			<ul>
				<li>Grounding, tracking autonomic cycling, modulating internal tempo to deepen attunement and distinguish between past trauma and the present situation.
				<li>Supporting trainees to perceive personal boundaries of a newborn and the boundaries of adult clients whilst in a regressed state.
			</ul>
		</ul>
    </div>
    <div class="col-md-6">
		<ul>
			<li>Explore how early imprinting can affect the way we are in relationship with self and others.
			<ul>
				<li>Our own birth dynamics, vaginal birth, birth stages, birth movement patterns, cutting of the cord, breast feeding and supporting newborn secure attachment.
				<li>Supporting babies and adults to securely attach when bonding was interfered with.
				<li>Understanding how babies express/show the stories of their own in utero, birth and early life experiences.
				<li>Understand and explore the impacts of interventions such as chemical imprinting, forceps, vacuum extractor and Cesarean section.
				<li>Additional birth situations.
				<ul>
					<li>Twin dynamics and breech births
					<li>Miscarriage and unresolved grief
					<li>Adoption
					<li>Assisted reproductive technology
					<li>ICU-intensive care for the newborn
				</ul>
			</ul>
			<li>Support implementing these new skills in your own practice and current work.
		</ul>
    </div>
  </div>
</div>
</section>
<!--
<!-- Service Start 
<section id="service">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <h2>Our Services</h2>
        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics</p>
      </div>
    </div>
    <div class="row ">
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="icon ion-coffee"></i>
          <h4>Branding</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-compass"></i>
          <h4>Web Design</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-image"></i>
          <h4>App Design</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-bug"></i>
          <h4>Start Up</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-headphone"></i>
          <h4>Logo Design</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-leaf"></i>
          <h4>Development</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-planet"></i>
          <h4>Brand Identity</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-earth"></i>
          <h4>Brand Identity</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Details Start -->
<section id="testimonial">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <div class="block">   
          <div class="section-title">
            <h1>Training details</h1>
          </div>  
          <h2>Where</h2>
		  <p>Anstruther Scotland</p>
		  <h2>When</h2>
		  <ul>
			<li>Five modules, each five days in length
				<ul>
					<li>12-16 January 2021
					<li>12-16 April 2021
					<li>3-7 October 2021
					<li>20-24 January 2022
					<li>14-18 April 2022
				</ul>
		  </ul>
        </div> 
      </div><!-- .col-md-6 close -->
    <div class="col-md-6">
       <div class="block">   
 		<h2>Tuition</h2>
		<p>Includes tuition, 2 lunches, and VAT</p>
		<ul>
			<li>£4400 early bird discount
			<li>£4900 otherwise
			<ul>
				<li>Travel, accommodation and other meals not included in cost
			</ul>
			<li>Non-refundable £250 deposit to hold your place (12 places available).  If your cancellation is replaced with a qualified candidate, refund of £200 will be made
			<li>£200 discount for deposits paid before 01 May 2020.
		</ul>
		</div>
    </div>
	</div>
  </div>
</section>


<!-- Call to action Start -->
<section id="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="block">
          <h2><a href=http://birthinconnection.com/>Mary Jackson</a></h2>
          <p>Mary has been a home birth Midwife since 1975. She has attended over 2,500 home births in California and is now attending the home births of her second generation of babies. She is a certified Castellino Workshop Leader and co-teaches the Castellino Pre and Perinatal Training in Europe and the US. Mary is passionate about working with imprints that occur around the time of conception, pregnancy and birth: how they affect us throughout the rest of our lives and what it takes to heal from challenging experiences. Mary has been featured in 11 books and 4 films. Mary is the mother of two children who were born at home.</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="block">
          <a href=http://birthinconnection.com/><img src=/img/mary-charisse.jpg alt="Two instructors", height=280px></a>
        </div>
      </div>    
    </div>
  </div>
</section>

<!--
<!-- Content Start 
<section id="testimonial">
  <div class="container">
    <div class="row">
      <div class="section-title text-center">
        <h2>Fun Facts About Us</h2>
        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        {% if site.data.funfacts.size > 0 %}
        <div class="block">
          {% for ff in site.data.funfacts %}
          <ul class="counter-box clearfix">
            <li>
              <div class="block">
                <i class="{{ ff.icon }}"></i>
                <h4 class="counter">{{ ff.counter }}</h4>
                <span>{{ ff.text }}</span>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
      </div>
  
    </div>
  </div>
</section>
-->