<!-- footer Start -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="footer-manu">
          <ul>
            <li><a href="{{ site.baseurl }}/index">About me</a></li>
            <li><a href="{{ site.baseurl }}/contact">Contact me</a></li>
            <li><a href="{{ site.baseurl }}/workshops">Workshops</a></li>
            <li><a href="{{ site.baseurl }}/training">Training</a></li>
            <li><a href="{{ site.baseurl }}/individuals">Individuals</a></li>
            <li><a href="{{ site.baseurl }}/blog">Posts</a></li>
          </ul>
        </div>
        <p>Copyright &copy; Design &amp; Developed by <a href="http://www.themefisher.com">Themefisher</a>. Images from <a href="http://unsplash.com">Unsplash</a>. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>
